body {
    background-color: white;
    text-align: left;
}

.header_pattern {
    background-image: url("../html-css-booleaner/img/pattern.png");
    height: 100%;
    background-repeat: repeat;
    background-color: blue;
}

#img_pattern {
    width: 700px;
    margin-top: 150px;
}

.colorgrey {
    color: #D3D3D3;
}
.container {
    position: absolute;
    left:0px;
    text-align: center;
    color: white;
  }

  .Text{
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .Text0{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }